{% extends "catalog/base.html" %}

{% block content %}
    <h1>Event Planners</h1>
    <form class="d-flex align-items-center gap-2 my-3" method="GET" action="{% url 'catalog:eventplanner_list' %}">
    <div class="input-group shadow-sm">
        <input
            type="search"
            name="q"
            class="form-control"
            placeholder="Search event planners..."
            aria-label="Search event planners"
        >
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if eventplanner_list %}
        <table class="table borderless">
            {% for planner in eventplanner_list %}
                <tr class="table borderless">
                    <td>
                        <a href="{% url 'catalog:eventplanner_detail' planner.pk %}">{{ planner.name }}</a>
                    </td>
                    <td>
                        {% if user.is_superuser or planner.user == user %}
                            <a href="{% url 'catalog:eventplanner_update' pk=planner.pk %}" class="btn btn-primary">
                                Edit
                            </a>
                        {% endif %}
                    </td>

                    {% if user.is_superuser %}
                        {% if not planner.event_set.exists %}
                            <td>
                                <a href="{% url 'catalog:eventplanner_delete' pk=planner.pk %}"
                                   onclick="return confirm('Are you sure you want to delete?')"
                                   class="btn btn-danger">
                                    Delete
                                </a>
                            </td>
                        {% else %}
                            <td>Events Exist - Cannot delete planner</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no event planners.</p>
    {% endif %}
    <a href="{% url 'catalog:index' %}" class="btn back-btn">Back</a>
{% endblock %}
